* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 206, 215);
}

h1 {
    text-align: center;
    margin: 30px auto;
    font-size: 50px;
}

.caja {
    /*outline: 1px solid yellow;*/
    width: 70%;
    box-sizing: border-box;
    column-count: 3;
    margin: 5% 15%;
}

img {
    border: 2px solid white;
}

.caja div {
    width: 100%;
    text-align: center;
    color: rgb(179, 38, 28);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

select {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #ffb366;
    color: white;
    margin: 0 39%;
    font-size: 20px;
    font-weight: bold;
}

.show {
    display: block;
}

.hide {
    display: none;
}

select:focus {
    outline: none;
}